# See Clang docs: http://clang.llvm.org/docs/ClangFormatStyleOptions.html
IndentWidth: 4
Cpp11BracedListStyle: true
ColumnLimit: 160
AccessModifierOffset: -2
CompactNamespaces: true
NamespaceIndentation: All
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
BreakConstructorInitializers: AfterColon
BreakStringLiterals: false
PointerAlignment: Left