void IndexManager::init(const control_block_t& aControlBlock, doc_mt& aDocMap) {
    if (!_init) {
        _cb = &aControlBlock;
        _docs = &aDocMap;
        _collection_terms.reserve(_docs->size());

        _clusteredIndex.chooseLeaders();
        const sizet_vt& leaders = _clusteredIndex.getLeaders();
        cluster_mt* cluster_out = _clusteredIndex.getClusterMap();
        str_postinglist_mt* postinglist_out = _invertedIndex.getTermPostingMap();
        str_tierplmap_mt* tieredpostinglist_out = _tieredIndex.getTermTierPostingMap();

        _invertedIndex.init(aControlBlock);
        _tieredIndex.init(aControlBlock);
        _clusteredIndex.init(aControlBlock);
        this->buildIndices(postinglist_out, tieredpostinglist_out, cluster_out, leaders);
        _init = true;
    }
}